[submodule "labs/01-NodeJSDocker"]
	path = labs/01-NodeJSDocker
	url = git@github.com:mosaicthej/353lab-NodeJSDocker.git
[submodule "labs/02-StaticFiles"]
	path = labs/02-StaticFiles
	url = git@github.com:mosaicthej/353lab-StaticFiles.git
[submodule "labs/03-DOM"]
	path = labs/03-DOM
	url = git@github.com:mosaicthej/353lab-DOM.git

[submodule "labs/04-ExecuteJS"]
	path = labs/04-ExecuteJS
	url = git@github.com:mosaicthej/353lab-ExecuteJS.git
